[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
lockfile = "*"
pendulum = "*"
pyopenssl = "*"
requests = "*"
simplejson = "*"

[requires]
python_version = "3.6.6"

[pipenv]
allow_prereleases = true
